body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevent scrolling */
}

.user-booking {
  position: fixed;
  width: 90%;
  flex-direction: column;
  align-items: center;
  height: 80%;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  margin-top: -300px; 
  justify-content: center;
}

.user-booking h1 {
  font-size: 4vw; /* Responsive font size */
  letter-spacing: -2px; /* Adjusted letter spacing */
  text-align: center; /* Center the text */
  color: #212529;
}

.table-responsive {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  overflow: hidden; /* To ensure rounded corners work */
}

.table {
  width: 1100px; /* Fixed width to center the table */
  margin: 1rem auto; /* Center the table */
  color: #212529;
  background-color: white;
  border-collapse: collapse;
}

.table-hover tbody tr:hover {
  background-color: #f5f5f5;
}

.table thead {
  background-color: #f8f9fa;
  color: #212529;
}

.table thead th {
  border-bottom: 2px solid #dee2e6;
  padding: 1rem;
  text-align: left;
  font-size: 1rem;
  background-color: #bea309;
}

.table td {
  padding: 1rem;
  border-top: 1px solid #dee2e6;
  font-size: 1rem;
  text-align: left;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.375rem;
}

.badge-dot {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.badge-dot::before {
  content: '';
  width: 0.375rem;
  height: 0.375rem;
  display: inline-block;
  background: currentColor;
  border-radius: 50%;
  position: relative;
  top: -0.0625rem;
  margin-right: 0.375rem;
}

.badge-lg {
  font-size: 100%;
  padding: 0.5em 0.75em;
  line-height: 1.25;
}

.text-danger {
  color: #dc3545 !important;
}

.text-success {
  color: #28a745 !important;
}

.text-end {
  text-align: right !important;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.375rem;
}

.btn-neutral {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.avatar-sm {
  width: 1.5rem;
  height: 1.5rem;
}
